In [1]:
import pandas as pd

## Reading Data

In [14]:
df = pd.read_csv('data.csv')

In [15]:
df.head()

,fever,bodyPain,age,runnyNose,diffBreath,tiredness,chestPain,dryMouth,breathHold,infectionProb
0,101,1,74,0,0,1,0,0,15,0
1,100,1,84,1,1,0,1,0,8,1
2,104,-1,26,1,-1,0,0,1,16,0
3,108,-1,45,1,-1,0,0,1,9,0
4,98,0,53,0,1,1,-1,1,10,0

In [16]:
df.tail()

,fever,bodyPain,age,runnyNose,diffBreath,tiredness,chestPain,dryMouth,breathHold,infectionProb
2494,101,-1,19,0,0,1,0,0,7,0
2495,99,-1,3,1,-1,-1,1,0,4,1
2496,98,0,66,0,-1,0,1,1,14,0
2497,102,0,30,0,-1,0,-1,0,3,1
2498,104,0,91,0,-1,1,-1,0,20,1

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2499 entries, 0 to 2498
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   fever          2499 non-null   int64
 1   bodyPain       2499 non-null   int64
 2   age            2499 non-null   int64
 3   runnyNose      2499 non-null   int64
 4   diffBreath     2499 non-null   int64
 5   tiredness      2499 non-null   int64
 6   chestPain      2499 non-null   int64
 7   dryMouth       2499 non-null   int64
 8   breathHold     2499 non-null   int64
 9   infectionProb  2499 non-null   int64
dtypes: int64(10)
memory usage: 195.4 KB

In [18]:
df['diffBreath'].value_counts()

 0    842
-1    831
 1    826
Name: diffBreath, dtype: int64

In [19]:
df.describe()

,fever,bodyPain,age,runnyNose,diffBreath,tiredness,chestPain,dryMouth,breathHold,infectionProb
count,2499.000000,2499.000000,2499.000000,2499.000000,2499.000000,2499.000000,2499.000000,2499.000000,2499.000000,2499.000000
mean,103.014006,0.009204,50.819928,0.503802,-0.002001,-0.017207,-0.008003,0.512205,12.236495,0.492597
std,3.739651,0.815382,29.113201,0.500086,0.814449,0.821123,0.819557,0.499951,5.589193,0.500045
min,97.000000,-1.000000,1.000000,0.000000,-1.000000,-1.000000,-1.000000,0.000000,3.000000,0.000000
25%,100.000000,-1.000000,25.000000,0.000000,-1.000000,-1.000000,-1.000000,0.000000,7.000000,0.000000
50%,103.000000,0.000000,52.000000,1.000000,0.000000,0.000000,0.000000,1.000000,12.000000,0.000000
75%,106.000000,1.000000,76.000000,1.000000,1.000000,1.000000,1.000000,1.000000,17.000000,1.000000
max,109.000000,1.000000,100.000000,1.000000,1.000000,1.000000,1.000000,1.000000,21.000000,1.000000

## Train Test Splitting

In [20]:
import numpy as np

In [21]:
def data_split(data, ratio):
    np.random.seed(42)
    shuffled = np.random.permutation(len(data))
    test_set_size = int(len(data) * ratio)
    test_indices = shuffled[:test_set_size]
    train_indices = shuffled[test_set_size:]
    return data.iloc[train_indices], data.iloc[test_indices]

In [22]:
np.random.permutation(7)

array([4, 2, 6, 5, 0, 1, 3])

In [23]:
train, test = data_split(df, 0.2)

In [24]:
train

,fever,bodyPain,age,runnyNose,diffBreath,tiredness,chestPain,dryMouth,breathHold,infectionProb
461,108,-1,84,1,1,0,-1,1,20,1
109,103,0,82,0,0,0,1,0,10,0
2296,100,-1,42,1,-1,0,0,0,3,1
354,106,0,60,0,1,-1,-1,1,14,0
266,103,1,18,1,-1,-1,0,1,18,1
...,...,...,...,...,...,...,...,...,...,...
1638,101,-1,78,0,1,0,1,0,20,0
1095,103,-1,67,0,0,-1,1,1,12,0
1130,99,1,4,1,1,0,0,0,20,1
1294,106,0,93,1,0,1,0,0,10,1
860,104,1,49,0,1,1,0,1,18,1

In [25]:
test

,fever,bodyPain,age,runnyNose,diffBreath,tiredness,chestPain,dryMouth,breathHold,infectionProb
2319,98,0,38,1,-1,0,-1,1,7,1
1865,101,-1,78,0,0,1,1,0,14,0
902,108,1,67,1,-1,0,0,1,20,0
2240,97,-1,74,1,1,0,-1,1,6,0
1285,101,-1,96,0,1,-1,1,0,13,1
...,...,...,...,...,...,...,...,...,...,...
1037,107,1,31,1,0,1,0,0,8,1
2054,106,1,84,0,1,-1,1,1,21,1
1860,105,-1,19,0,0,0,-1,0,15,0
1862,102,1,8,0,1,1,1,0,18,0
1151,107,1,42,1,1,1,-1,1,19,0

In [26]:
X_train = train[['fever', 'bodyPain', 'age', 'runnyNose', 'diffBreath', 'tiredness', 'chestPain', 'dryMouth', 'breathHold']].to_numpy()
X_test = test[['fever', 'bodyPain', 'age', 'runnyNose', 'diffBreath', 'tiredness', 'chestPain', 'dryMouth', 'breathHold']].to_numpy()

In [27]:
Y_train = train[['infectionProb']].to_numpy().reshape(2000 ,)
Y_test = test[['infectionProb']].to_numpy().reshape(499 ,)

In [28]:
Y_train

array([1, 0, 1, ..., 1, 1, 1], dtype=int64)

In [29]:
from sklearn.linear_model import LogisticRegression

In [30]:
clf = LogisticRegression()
clf.fit(X_train, Y_train)

LogisticRegression()

In [34]:
inputFeatures = [102, 1, 22, -1, 1, 1, -1, 1, 5]
infProb =clf.predict_proba([inputFeatures])[0][1]

In [35]:
infProb

0.4684879242250779